/*
! Table Filters
*/

.filter-control {
    margin: 0 .25rem .25rem .25rem;
}

.form-control {
    padding: .25rem .5rem
}

.w2ui-grid .w2ui-grid-body table .w2ui-head {
    background-image: none;
}